a {
   font-family: Arial, Helvetica, sans-serif;
   color:blueviolet;
}
a:hover{
    color:red;
}
body{
    text-align: center;
    background-color:blanchedalmond;
    font-family: cursive;
}
h2{
 color: mediumvioletred;
}